*{
	font-family: "Raleway", sans-serif ;
	text-decoration:none;

margin: 5px;
padding: 5px;

}


#h1{
	color:#000091;
	text-shadow: 2px 3px 4px gray;
	display:inline;
}





.card:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	transform: scale(1);
}

.course-header{
	overflow: hidden;
  	padding: 20px 10px;
   	margin-left: 10px;
}

.course-title{
	font-size: 15px;
}
.header-img {
  	float: left;
  	width: 100px;
  	height: 100px;
   	border-radius:50%;
    position: relative;
  	top: 18px;
  	left: 10px;
}
.header-h{

  	position: relative;
  	top: 20px;
  	left: 30px;
  
}


a{
    color: #6c757d;
    text-decoration: none;
}


.course-header{
	overflow: hidden;
  	padding: 20px 10px;
   	margin-left: 10px;
}

.course-title{
	font-size: 15px;
}



.float-right{
	text-aling:right;
float: right;
	
}
