@charset "ISO-8859-1";

*{
	font-family: "Raleway", sans-serif ;
	text-decoration:none;

}
#h1{
	color:#000091;
	text-shadow: 2px 3px 4px gray;
	display:inline;
}

nav{
	background-color: #c2c2c7;
}
/* here add your style */
.course-index-continer{
	 display:grid;
	  grid-template-columns: auto auto auto;
	   padding: 30px;
}
.course-card {
   width: 200px;
   height:200px;
   padding: 20px 0;
  
   
  
}
.course-card:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}